<form method="POST" action="/pizza-orders">
  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="first-name">

  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" id="last-name">

  <label for="topping-select">Select a topping:</label>
    <select id="topping-select" name="topping">
      <option value="Cheese and Tomato">Cheese & Tomato</option>
      <option value="Mushrooms">Mushrooms</option>
    </select>

  <label for="quantity">Quantity</label>
  <input type="number" min="1" name="quantity" id="quantity">

  <input type="submit" value="Order Pizza">
</form>
