<h1>Book a lesson</h1>

<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<link rel="icon" href="/images/dumbbell.png" />
<h2>
<form action="/bookings" method="post">
<div class="labels">
  <label>
  Select a member:<br>
    <select name="member_id">
      <% for member in @members %>
      <option value="<%= member.id %>"><%= member.name %></option>
      <% end %>
    </select>
  </label>
  </div>
<br>
  <label>
    Select a lesson:<br>
    <select name="lesson_id">
      <% for lesson in @lessons %>
      <option value="<%= lesson.id %>"><%= lesson.name %></option>
      <% end %>
    </select>
  </label>
  <p class="btn--wrapper">
    <a class="btn btn--new" href="/bookings/new">Book Now!</a>
  </p>
</form>
</h2>
